/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*=============== VARIABLES CSS ===============*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #e79e00;
  --seccond-color: #be4c00;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: white;
  --text-color: whitesmoke;
  --body-color: rgb(0, 9, 22);
  --container-color: rgba(0, 9, 22, 0.849);
  /*========== Font and typography ==========*/
  --body-font: vazir;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  padding: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    -webkit-box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
            box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.nav__list, .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
  display: none;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  -webkit-transition: .3s;
  transition: .3s;
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
          box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

main .back {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 45%;
}

main .landing__page {
  position: relative;
  width: 100%;
  height: 100vh;
}

main .landing__page .content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .landing__page .content .text {
  width: 48%;
}

main .landing__page .content .text h5 {
  color: orange;
}

main .landing__page .content .text h2 {
  font-size: 3em;
  font-family: var();
}

main .landing__page .content .text h4 {
  margin: 0 0 30px 0;
}

main .landing__page .content .text a {
  text-decoration: none;
  color: whitesmoke;
  background-color: #dda600;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 20px 0;
}

main .landing__page .content .image {
  width: 48%;
}

main .landing__page .content .image img {
  width: 100%;
}

.aboutme {
  direction: rtl;
}

.aboutme .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutme .content .text {
  padding: 20px;
  width: 59%;
}

.aboutme .content .text h3 {
  font-size: 2em;
}

.aboutme .content .text p {
  font-size: 1em;
  margin: 0 0 30px 0;
}

.aboutme .content .text a {
  text-decoration: none;
  color: whitesmoke;
  background-color: orangered;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 20px 0;
}

.aboutme .content .image {
  width: 40%;
}

.aboutme .content .image img {
  width: 100%;
}

main .skills-sec .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skills-sec .skills .skill {
  width: 300px;
  margin: 20px;
  border-radius: 10%;
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
}

main .skills-sec .skills .skill img {
  width: 100%;
  border-radius: 10px;
}

main .skills-sec .skills .skill:hover {
  cursor: pointer;
}

main #portfolio .portfolios {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #portfolio .portfolios .portfolio__item {
  width: 44%;
  height: 120px;
  -webkit-box-shadow: 0 5px 3px rgba(215, 154, 255, 0.068);
          box-shadow: 0 5px 3px rgba(215, 154, 255, 0.068);
  border-radius: 6px;
  color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

main #portfolio .portfolios .portfolio__item img {
  width: 30%;
  height: 100%;
  margin: 0 6px 0 0;
  border-radius: 6px 0 0 6px;
}

main #portfolio .portfolios .portfolio__item .text {
  direction: rtl;
  padding: 16px;
}

main #contactme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

main #contactme .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #contactme .email .emailabout {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}

main #contactme .email form {
  width: 70%;
  direction: rtl;
}

main #contactme .email form input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  direction: rtl;
  margin: 10px 0;
  text-align: right;
}

main #contactme .email form button {
  margin: 10px 0;
  background-color: var(--first-color);
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main #contactme .email form button:hover {
  background-color: var(--seccond-color);
  -webkit-transition: .6s;
  transition: .6s;
}

main #contactme .social-madia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #contactme .social-madia a {
  text-decoration: none;
  margin: 10px;
  -webkit-transition: .6s;
  transition: .6s;
}

main #contactme .social-madia a i {
  padding: 10px;
  border-radius: 50%;
  color: seashell;
  font-size: 1.6em;
  background-color: rgba(255, 255, 255, 0.205);
  -webkit-transition: .6s;
  transition: .6s;
}

main #contactme .social-madia a i:hover {
  color: #292929;
  background-color: rgba(255, 255, 255, 0.829);
  -webkit-transition: .6s;
  transition: .6s;
}

body {
  background-color: var(--body-color);
  font-family: vazir;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
}

body header {
  width: 100%;
  padding: 20px 30px;
}

body header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav a {
  text-decoration: none;
  color: var(--text-color);
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body header nav ul a {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav ul a li {
  list-style: none;
  color: var(--text-color);
}

body main .container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .row .col {
  background-color: rgba(255, 255, 255, 0.137);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

body main .container .row .col h3 {
  margin: 10px 0;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 450px) {
  .nav__name {
    display: none;
  }
  main #portfolio .portfolios .portfolio__item {
    width: 100%;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  main #portfolio .portfolios .portfolio__item {
    width: 47%;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__icon {
    display: none;
  }
  .nav .bx {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */