// Import of partial files
@import 'config/variables';
@import 'base/base';
@import 'loading-screen/loading.scss';
@import 'layout/layout';
@import 'components/header';
@import 'Home/landing-page.scss';
@import 'about/about.scss';
@import 'skills/skills.scss';
@import 'portfolio/portfolio.scss';
@import 'contactme/contacme.scss';
@import 'single/single-page.scss';
@import 'components/mediaqueries';