body {
    .screen {
        position: absolute;
        inset: 0;
        background-color: #030014;
        width: 100%;
        height: 100%;
        z-index: 110;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        transition: .6s;
        .wrapper {
            width: 150px;
            height: 150px;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 50%);
            .l {
                position: absolute;
                width: calc(100% - 9px);
                height: calc(100% - 9px);
                border-radius: 50%;
                border-top: 5px solid #ffbf00;
                animation: spin 2s ease-in-out infinite;
            }
            @keyframes spin {
                20% {
                    width: calc(100% -19px);
                }
                100% {
                    transform: rotate(-360deg);
                }
            }
        }
    }
    .loaded {
        opacity: 0;
        visibility: hidden;
        transition: .6s;
    }
}