body {
    background-color: var(--body-color);
    font-family: vazir;
    box-sizing: border-box;
    direction: rtl;
    header {
        width: 100%;
        padding: 20px 30px;
        nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            a {
                text-decoration: none;
                color: var(--text-color);
            }
        }
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        .carousel {
            width: 90%;
            .carousel-inner {
                border-radius: 10px;
                box-shadow: rgba(255, 255, 255, 0.459) 0 0 10px;
                .carousel-caption {
                    background-color: rgba(255, 255, 255, 0.377);
                    color: rgb(255, 255, 255);
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }
}