/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
     :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}


/*=============== BASE ===============*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.section__height {
    height: 100vh;
}


/*=============== LAYOUT ===============*/

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*=============== HEADER ===============*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    -webkit-transition: .4s;
    transition: .4s;
}


/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__img {
    width: 32px;
    border-radius: 50%;
}

.nav__logo {
    color: var(--title-color);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        -webkit-box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.nav__list,
.nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
}

.nav__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav__name {
    font-size: var(--tiny-font-size);
}

.nav__icon {
    font-size: 1.5rem;
}


/*Active link*/

.active-link {
    position: relative;
    color: var(--first-color);
    -webkit-transition: .3s;
    transition: .3s;
}


/* Change background header */

.scroll-header {
    -webkit-box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*=============== MEDIA QUERIES ===============*/


/* For small devices */

@media screen and (max-width: 320px) {
    .nav__name {
        display: none;
    }
}


/* For medium devices */

@media screen and (min-width: 576px) {
    .nav__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-column-gap: 3rem;
        column-gap: 3rem;
    }
    .nav__icon {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img {
        display: none;
    }
    .nav__icon {
        display: none;
    }
    .nav__name {
        font-size: var(--normal-font-size);
    }
    .nav__link:hover {
        color: var(--first-color);
    }
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
        border-radius: 50%;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .nav__icon {
        display: none;
    }
}