.aboutme{
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        .text{
            padding: 20px;
            width: 59%;
            h3{font-size: 2em;}
            p{font-size: 1em;}
        }
        .image{
            width: 40%;
            img{
                width: 100%;
            }
        }
    }
}