* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    background-color: rgb(15, 0, 0);
    header {
        width: 100%;
        padding: 20px;
        nav {
            display: flex;
            justify-content: flex-start;
            a {
                text-decoration: none;
                font-size: 1.2em;
                color: whitesmoke;
            }
        }
    }
    main {
        .banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 1.5em;
                color: whitesmoke;
                margin: 10px 0;
            }
        }
    }
}