* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
    direction: rtl;
}

.carousel {
    overflow: hidden;
}

.carousel-item {
    object-fit: cover;
    overflow: hidden;
}

.tcaption {
    color: whitesmoke;
    text-align: center;
    margin: 5px;
    padding: 13px;
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item {
    overflow: hidden;
    width: 100%;
    height: 250px;
    img {
        height: inherit;
        object-fit: cover;
    }
}

.instagram {
    text-align: center;
    direction: rtl;
    background: url(../media/1.jpg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    color: whitesmoke;
    padding: 30px;
    margin: 12px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0px 15px #ff000096;
    box-shadow: 0 0px 15px #ff000096;
    a {
        margin: 10px 5px;
        text-decoration: none;
        color: whitesmoke;
        border-radius: 20px;
        background: rgba(245, 245, 245, 0.253);
        border: 2px solid whitesmoke;
        padding: 10px 15px;
    }
}

h3 {
    color: white;
}

p {
    color: white;
}

.text {
    padding: 10px;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

body {
    background-color: rgb(15, 0, 0);
    header {
        nav {
            background-color: rgba(0, 0, 0, 0.74);
            width: 100%;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none;
                    padding: 10px 15px;
                    li {
                        color: white;
                        list-style: none;
                    }
                }
            }
            a {
                text-decoration: none;
                font-size: 1.2em;
                color: whitesmoke;
            }
        }
    }
    main {
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 1.5em;
                color: whitesmoke;
                margin: 10px 0;
            }
        }
    }
}