main {
    .landing__page {
        position: relative;
        .content {
            position: absolute;
            inset: 0;
            width: 100%;
            min-height: 100vh;            
        }
    }
}