main {
    .landing__page {
        position: relative;
        .content {
            .slider-content {
                width: 100%;
                height: 100%;
                color: whitesmoke;
                position: absolute;
                inset: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 30px;
                    width: 96%;
                    background: rgba( 255, 255, 255, 0.2);
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
                    backdrop-filter: blur( 4px);
                    -webkit-backdrop-filter: blur( 4px);
                    border-radius: 10px;
                    border: 1px solid rgba( 255, 255, 255, 0.18);
                    h1 {
                        font-size: 3em;
                        font-weight: bold;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        width: 70%;
                        margin: 15px;
                    }
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                        background-color: brown;
                        padding: 15px 30px;
                        border-radius: 15px;
                        font-size: 1em;
                    }
                }
            }
            .swiper {
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}